:root {
	--glassy: rgba(0, 0, 0, 0.1);
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: rgba(255, 255, 255, 0.6);
}

#wallpaper {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-image: url("https://images.unsplash.com/photo-1533899114961-3aa0579cd5b8?q=80&w=3072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

input {
	position: absolute;
	left: 50%;
	translate: -50% 0;
	bottom: 20px;
	width: 100%;
	max-width: 400px;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 100vmin;
	border: none;
	background-color: var(--glassy);
	backdrop-filter: blur(15px);
	font-size: 12px;
	transition: 0.2s;
	height: fit-content;
	color: inherit;
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
}
input:focus {
	scale: 2;
	top: 50%;
	translate: -50% -50%;
	max-width: min(45vw, 300px);
}

.head {
	position: absolute;
	left: 50%;
	top: 20%;
	translate: -50% -50%;
	text-align: center;
	font-size: 20px;
}
.head > h1 {
	margin: 0;
	font-size: 12vmin;
}

.widgets {
	position: absolute;
	right: 25px;
	top: 25px;
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	max-width: 400px;
	flex-wrap: wrap;
	justify-content: end;
	transition: 0.2s;
}
.widget, .restore {
	margin: 5px;
	background-color: var(--glassy);
	padding: 10px;
	padding-right: 15px;
	padding-left: 15px;
	box-sizing: border-box;
	border-radius: 10px;
	min-height: 80px;
	display: flex;
	justify-content: center;
	align-items: start;
	backdrop-filter: blur(15px);
	flex-direction: column;
	max-width: 350px;
	border: none;
	color: inherit;
	text-align: left;
	font-family: inherit;
	font-size: inherit;
	transition: 0.2s;
}
.widget:hover {
	rotate: 3deg;
	scale: 0.9;
	opacity: 0.5;
}
@media (max-width:1100px) {
	.widgets {
		left: 50%;
		top: 60%;
		translate: -50% -50%;
		width: 80%;
		height: 40%;
		flex-wrap: wrap;
		justify-content: center;
	}
	.widget {
		display: inline-block;
		flex: 1;
	}
}
.widget:last-child {
	margin-bottom: 0;
}

.widget > h2 {
	margin: 0;
}

.restore {
	position: absolute;
	left: 10px;
	top: 10px;
	min-height: fit-content;
	max-height: 2em;
}
.restore:hover {
	scale: 1.1;
}
.restore:active {
	scale: 0.9;
}